{% extends "base.html" %}
{% block order_buy %}
<h4 class="sub-header text-info text-center">Купить BTC</h4>

<form id="buy_form" class="form-horizontal" action="" method="post">
    <div class="form-group">
        <label for="buy_count" class="col-sm-5 control-label">
            Кол-во :
        </label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="buy_count"
                   name="count" placeholder="0">
        </div>
        <div class="col-sm-2">
            <p class="form-control-static"> BTC</p>
        </div>
    </div>
    <div class="form-group">
        <label for="buy_price" class="col-sm-5 control-label">
               Цена за ед.&nbsp;:
        </label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="price"
                   value="{{ current_bitcoin_rate }}" id="buy_price"
                   placeholder="{{ current_bitcoin_rate }}">
        </div>
        <div class="col-sm-2">
            <p class="form-control-static"> $</p>
        </div>
    </div>
    <div class="form-group" id="buy_total" hidden>
        <div class="col-sm-5 control-label">Всего: </div>
        <div class="col-sm-5">
            <p class="form-control-static">
                <span class="text-info" id="buy_total_text"></span> $
            </p>
        </div>
    </div>
    <div class="form-group col-sm-12">
        <button type="submit" id="btn-buy"
                class="btn btn-success pull-right"
                disabled="" name="buy">Купить</button>
        <button type="button" class="btn btn-default"
                id="btn-count-buy">Посчитать</button>
    </div>
</form>
{% end %}
{% block order_sell %}
<h4 class="sub-header text-info text-center">Продать BTC</h4>

<form id="sell_form" class="form-horizontal" action="" method="post">
    <div class="form-group">
        <label for="sell_count" class="col-sm-5 control-label ">
            Кол-во:
        </label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="sell_count"
                   name="count" placeholder="0">
        </div>
        <div class="col-sm-2">
            <p class="form-control-static"> BTC</p>
        </div>
    </div>
    <div class="form-group">
        <label for="sell_price" class="col-sm-5 control-label">
               Цена за ед. :
        </label>
        <div class="col-sm-5">
            <input type="text" class="form-control"
                   value="" id="sell_price" name="price"
                   placeholder="{{ current_bitcoin_rate }}">
        </div>
        <div class="col-sm-2">
            <p class="form-control-static"> $</p>
        </div>
    </div>
    <div class="form-group" id="sell_total" hidden>
        <div class="col-sm-5 control-label">Всего: </div>
        <div class="col-sm-5">
            <p class="form-control-static">
                <span class="text-info" id="sell_total_text"></span> $
            </p>
        </div>
    </div>
    <div class="form-group col-sm-12">
        <button type="submit" id="btn-sell"
                class="btn btn-success pull-right"
                disabled="" name="sell">Купить</button>
        <button type="button" class="btn btn-default"
                id="btn-count-sell">Посчитать</button>
    </div>
</form>
{% end %}
{% block order_book %}
<h5 class="sub-header text-info text-center">Биржевой стакан</h5>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
                <tr>
                <th class="text-center">Покупка</th>
                <th class="text-center">Цена</th>
                <th class="text-center">Продажа</th>
                </tr>
        </thead>
        <tbody id="trade_book" class="text-center">
            {% for order in sell_orders %}
            {% if order.get("status") %}
                <tr>
                    <td></td>
                    <td>{{ order.get("price_per_item") }}</td>
                    <td>{{ order.get("count") }}</td>
                </tr>
            {% end %}
            {% end %}
            {% for order in buy_orders %}
            {% if order.get("status") %}
                <tr>
                    <td>{{ order.get("count") }}</td>
                    <td>{{ order.get("price_per_item") }}</td>
                    <td></td>
                </tr>
            {% end %}
            {% end %}
        </tbody>
    </table>
</div>
{% end %}
{% block deals %}
<h5 class="sub-header text-info text-center">История сделок</h5>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
                <tr>
                <th>Дата</th>
                <th>Цена</th>
                <th>$</th>
                <th>BTC</th>
                </tr>
        </thead>
        <tbody id="trade_deals">
        {% for deal in deals %}
            <tr>
                <td>{{ deal.get("date_time") }}</td>
                <td>{{ deal.get("price_per_item") }}</td>
                <td>{{ deal.get("total_price") }}</td>
                <td>{{ deal.get("count") }}</td>
            </tr>
        {% end %}
        </tbody>
    </table>
</div>
{% end %}
